go 1.19

use (
	./complete-developers-guide/cards
	./go-applied-concurrency/api
	./go-applied-concurrency/channels
	./go-essential-training/http-client
	./go-essential-training/http-server
	./go-essential-training/json
	./go-essential-training/testing
	./go-generics
	./go-generics/inference
	./go-recipes/basics
	./go-recipes/concurrency
	./go-recipes/http
	./go-recipes/json
	./go-recipes/oop
	./go-recipes/text
	./go-recipes/time
	./go-rest-api/api
	./go-rest-api/misc/functions
	./go-rest-api/misc/helloworld
	./go-rest-api/misc/practice
	./go-rest-api/misc/tester
	./go-security/auth/authentication
	./go-security/auth/authorization
	./go-security/infrastructure/logging
	./go-security/infrastructure/secrets
	./go-security/infrastructure/ssl-certificates
	./go-security/input/request-timeouts
	./go-security/input/size-limit
	./go-security/input/sql-injection
	./go-security/input/validation
	./go-security/output/sensitive-data
	./go-security/output/xss
	./go-security/process/linting
	./go-standard-library/fmt
	./go-standard-library/http
	./go-standard-library/math
	./go-standard-library/os
	./go-standard-library/strings
	./system-tooling-with-go/basic-cli
	./system-tooling-with-go/cobraed-cli
	./system-tooling-with-go/hr-cli
	./system-tooling-with-go/packages
)
