go 1.19

use (
	./complete-developers-guide/cards
	./go-applied-concurrency/api
	./go-applied-concurrency/channels
	./go-essential-training/http-client
	./go-essential-training/http-server
	./go-essential-training/json
	./go-essential-training/testing
	./go-generics
	./go-generics/inference
	./go-rest-api/api
	./go-rest-api/misc/functions
	./go-rest-api/misc/helloworld
	./go-rest-api/misc/practice
	./go-rest-api/misc/tester
	./go-standard-library/fmt
	./go-standard-library/http
	./go-standard-library/math
	./go-standard-library/os
	./go-standard-library/strings
	./system-tooling-with-go/basic-cli
	./system-tooling-with-go/cobraed-cli
	./system-tooling-with-go/hr-cli
	./system-tooling-with-go/packages
)
