{{define "footer-html"}}
    <section id="footer" class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                <small class="text-muted">Copyright &copy; dmitrywhite.com</small>
            </div>
        </div>
    </section>
{{end}}

{{define "footer-plain"}}
    Copyright © dmitrywhite.com
{{end}}