{{define "base" }}
    <!doctype html>
    <html lang="en">
        {{template "header" .}}

        <body>
        {{template "content" .}}

        {{template "footer" .}}

        {{template "js" .}}
        </body>

    </html>

{{end}}